.DS_Store
*.o
*.a

obj/
bin/
build/
pipexMedic/
PIPEX_TESTER/
pipex-tester/

*.out

pipex
pipexMedic

out*
in
input-txt*
input.txt

libft.a
libgnl.a
test-out.txt
expected_output.txt
expected_error.txt
error.txt
input

o.txt
pipex.code-workspace
ws_pipex.code-workspace
